### **Series**
- A series is a data structure in pandas that holds an array of info along with named index.
- The named index differentiates this from a simple Numpy Array.
- One dimensional ndarray with axis labels.

**Numpy array has a numeric index**

| Index | Data |
| ----------- | ----------- |
| 0 | 1777 |
| 1 | 1881 |
| 2 | 1681 |
| 3 | 1891 |

**Pandas series adds a labeled index**

| Numeric Index | Labeled Index | Data |
| ----------- | ----------- | ----------- |
| 0 | India | 1777 |
| 1 | China | 1881 |
| 2 | Japan | 1681 |
| 3 | Russia | 1891 |

  **Data is still organised numerically but can be accessed via labeled index**

In [1]:
import numpy as np

In [4]:
import pandas as pd

In [8]:
myIndex = ['usa', 'india', 'japan']

In [9]:
mydata = [1776,1867,1821]

In [12]:
myseries = pd.Series(data=mydata, index=myIndex)

In [13]:
myseries

usa      1776
india    1867
japan    1821
dtype: int64

In [14]:
myseries[0]

C:\Users\rahel\AppData\Local\Temp\ipykernel_912\325975676.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  myseries[0]

np.int64(1776)

In [15]:
myseries['india']

np.int64(1867)

In [16]:
ages = {
    "Alice": 30,
    "Bob": 25,
    "Charlie": 22,
    "David": 28,
    "Eve": 35
}

In [17]:
pd.Series(ages)

Alice      30
Bob        25
Charlie    22
David      28
Eve        35
dtype: int64

In [33]:
q1 = {
    "Japan": 100,
    "Germany": 200,
    "Mexico": 300,
    "South Korea": 400,
    "Nigeria": 500,    "Russia": 300,
    "India": 1000
}

q2 = {
    "Canada": 600,
    "Australia": 700,
    "Brazil": 800,
    "Russia": 300,
    "India": 1000
}

In [34]:
sales_q1 = pd.Series(q1) 
sales_q2 = pd.Series(q2)

In [35]:
sales_q1

Japan           100
Germany         200
Mexico          300
South Korea     400
Nigeria         500
Russia          300
India          1000
dtype: int64

In [36]:
sales_q2

Canada        600
Australia     700
Brazil        800
Russia        300
India        1000
dtype: int64

In [37]:
sales_q1['Japan']

np.int64(100)

In [38]:
sales_q1[0]

C:\Users\rahel\AppData\Local\Temp\ipykernel_912\92651501.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_q1[0]

np.int64(100)

**In Pandas Series the key (column name) is  case-sensitive. So, if you have a Series with a column named “Japan,” you’ll need to use exactly that capitalization to fetch data from it.**

In [39]:
sales_q2.keys()

Index(['Canada', 'Australia', 'Brazil', 'Russia', 'India'], dtype='object')

In [40]:
sales_q1 * 2

Japan           200
Germany         400
Mexico          600
South Korea     800
Nigeria        1000
Russia          600
India          2000
dtype: int64

In [41]:
sales_q1 + sales_q2

Australia         NaN
Brazil            NaN
Canada            NaN
Germany           NaN
India          2000.0
Japan             NaN
Mexico            NaN
Nigeria           NaN
Russia          600.0
South Korea       NaN
dtype: float64

In [45]:
first_half = sales_q1.add(sales_q2, fill_value=0)
first_half

Australia       700.0
Brazil          800.0
Canada          600.0
Germany         200.0
India          2000.0
Japan           100.0
Mexico          300.0
Nigeria         500.0
Russia          600.0
South Korea     400.0
dtype: float64

In [44]:
sales_q1.dtype

dtype('int64')

In [46]:
first_half.dtype

dtype('float64')